*{
  margin: 0;
}
body{
width: 1280px;
margin: 0 auto;
}
header{
  background-color: rgb(126, 0, 98);
  height: 60px;
  margin-bottom: 20px;
}
header ul{
   display: flex;
  justify-content: center;
  align-items: center;
padding-top: 10px;
  list-style: none;
}
header ul li{
padding: 5px 10px;
border: 2px solid rgb(43, 255, 0);
margin: 5px;
border-radius: 6px;
}
.navLink{
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  font-weight: 700;
}

table{
border-color: aqua;
background-color: aqua;
}
td{
  padding: 10px;
}
.theader{
  padding: 10px 80px;
}
button{
  padding: 5px 15px;
  margin: 5px;
  border: 4px solid rgb(255, 42, 209);
  background-color: rgb(54, 109, 0);
  font-weight: 800;
  color: #e7e7e7;
}

input{
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 2px solid rgb(255, 42, 209);
}